{% load static %}
<header class="container-fluid header" id="header">
  <!-- include navbar component -->
  {% include "components/navbar.html" %}

  <!-- main title-->
  <div
    class="main-title d-flex justify-content-center align-items-center flex-column"
  >
    <div class="p-5">
      <h1 class="display-3 display-md-1 fw-bold text-center">
        I'm Joel Chavez
      </h1>
      <strong class="text-center d-block">Full stack web developer</strong>
    </div>
    <!-- download cv btn -->
    <a
      class="main-title__download-cv btn btn-outline-success mb-5"
      href="{% static 'downloads/joel-chavez.pdf' %}"
      download
    >
      Download CV
    </a>
  </div>
</header>
