<div class="container-fluid">
  <div class="container-fluid projects">
    <div class="row">
      <h2
        class="col-12 display-3 display-md-1 fw-bold py-3 text-center text-md-start px-3 projects__title"
      >
        Projects
      </h2>
      <div class="col-12 d-flex justify-content-center flex-wrap gap-3 py-3 projects__cards">
        {% for project in projects %}
        <!-- include project-card component -->
        {% include "components/project-card.html" %}
        <!-- endfor projects -->
        {% endfor %}
      </div>
    </div>
  </div>
</div>
