<!-- extends from base layout -->
{% extends "base.html" %}

<!-- header -->
{% block header %}
<!-- include header section -->
{% include "sections/header.html" %}
<!-- endblock header -->
{% endblock %}

<!-- content -->
{% block content %}
<!-- include about-me section -->
{% include "sections/about-me.html" %}
<!-- include projects section -->
{% include "sections/projects.html" %}
<!-- endblock content -->
{% endblock %}

<!-- footer -->
{% block footer %}
<!-- endblock footer -->
{% endblock %}
