<section class="container-fluid">
  <div class="divider">
    <div class="divider__bg"></div>
  </div>
  <div class="container-fluid about-me">
    <div class="row">
      <h2
        class="col-12 display-3 display-md-1 fw-bold py-3 text-center text-md-end px-3 about-me__title"
      >
        About me
      </h2>
      <div class="col-12 col-md-6 d-flex justify-content-center">
        <img
          class="img-fluid p-3 p-md-0 about-me__photo"
          src="{{myself.photo.url}}"
          alt="{{myself.name}}"
        />
      </div>
      <div
        class="col-12 col-md-6 d-flex justify-content-center rounded about-me__resume"
      >
        <p class="about-me__p">{{myself.about_me}}</p>
      </div>
    </div>
  </div>
</section>
